<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
    <link rel="stylesheet"  href="../static/puls/layui/css/layui.css">
    <script type="text/javascript" src="../static/puls/layui/css/layui.css"></script>
    <style>
       .bor{
           border-bottom: 2px solid #009688;
           margin-top: 8px;
           width: 100%;
       }
    </style>
</head>
<body style="padding: 10px">
<div class="head">
    <span style="background-color: #009688;padding:10px;color: #FFFFFF;margin-left: 20px">管理员列表</span>
</div>
<button class="layui-btn layui-btn-sm" style="float: right; margin-top: -22px;margin-right: 20px" onclick="add(0)">添加</button>
<div class="bor"></div>
<div class="layui-form-item">
    <table class="layui-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>角色</th>
            <th>状态</th>
            <th>注册时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
         {volist name="data.list" id="vo"}
         <tr>
            <td>{$vo.id}</td>
            <td>{$vo.user}</td>
            <td> {volist name="data.gid" id="v"}{if $vo.gid==$v.gid}{$v.title}{/if}{/volist}</td>
             <td>{if $vo.zt==1}<span style="color: red">禁用</span>{else}<span style="color: #00be06">正常</span>{/if}</td>
            <td>{:date("Y-m-d H:i:s",$vo.add_time)}</td>
            <td>
                <button class="layui-btn layui-btn-sm " onclick="add({$vo.id})">修改</button>
                <button class="layui-btn layui-btn-sm  layui-btn-danger" onclick="del({$vo.id})">删除</button>
            </td>
         </tr>
            {/volist}
        </tbody>
    </table>
</div>
<script type="text/javascript">
    layui.use(['layer'],function () {
        layer=layui.layer;
        $=layui.jquery;
    });
//    添加修改数据
    function add(id) {
        layer.open({
            type: 2,
            area: ['500px', '400px'], //宽高
            shade: 0.3 ,
            content: '/admins/Party/add?id='+id
        });
    }
//    删除数据
    function del(id) {
        layer.confirm('确定要删除？', {
            btn: ['确认','再想想'] //按钮
        }, function(){
            $.post('/index.php/admins/Party/delete',{"id":id},function (res) {
                if (res.con>0){
                    layer.alert(res.msg,{icon:2});
                } else {
                    layer.msg(res.msg);
                    setTimeout(function () {
                        window.location.reload();
                    },1000)
                }
            },'json' )
        }, function(){
            layer.msg('我就知道我们是真爱', {
                time: 1000, //20s后自动关闭
            });
        });
    }
</script>
</body>
</html>